h1{
    margin: 0;
}

.main-main-container{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-80{
    width: 80%;
    height: 90%;
    background-image: url(./final-bg\ image\(Weather-App\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 30px;
}

.div-body{
    height: 469px;
    background-color: blue;
}

.left{
    width: 70%;
    height: 100%;
}

.weather-status{
    width: 90%;
    height: calc(100% - 469px);
}
 
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* body{
    margin: 0;
    height: 100vh;
    background-image: url(./final-bg\ image\(Weather-App\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    border-radius: 5px white;
    border-color: #ffffff;
    color: #ffffff;
    background-color: transparent;
}

.flex{
    display: flex;
}
.footer-width{
    width: 100%;
    height: 100px;
}


.flex-center{
    display: flex;
    gap: 5em;
}
.main-main-container{
    height: 90%;
    width: 90%;
    /* background-color: #77858e78; */
    /* border-radius: 20px;
}

input{
    background-color: transparent;
}
.width-70{
    width: 70%;
    /* background-color: orangered; */
/* }

.width-30{
    width: 30%;
    background-color: rgb(0 0 0 / 38%);
}

.btn{
    border-radius: 5px;
    padding: 4px;
    border: none;
    background-color: #ffffff;
    color: orange;
} */ 